@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: var(--vh);
	height: -webkit-fill-available;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding-bottom: 2px;
}

#app {
	background: #18181B;
	color: #D4D4D8;
}

body {
	font-family: Inter, 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	margin: 0 auto;
}

input,
button {
	font: inherit;
}

.divider {
	opacity: .7;
	height: 1.5px;
	display: block;
	width: 100%;
	margin: 24px 0;
	background: #52525B;
}

#source-link {
	position: absolute;
	right: 1em;
	top: 0.5em;
}

.correct,
.present,
.absent {
	color: #fff !important;
}

.keyboard-button {
	background: #71717A;
	color: #fff;
}

button.button-simple:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

button.button-simple svg {
	fill: white;
}

.correct,
.ready-button,
.ready-button:disabled,
.ready-button:active {
	background-color: #15a62f;
}

.waiting-player-ready {
	color: #15a62f;
}

.ready-button:hover {
	background-color: #1eb73b;
}

.present,
.unready-button,
.unready-button:disabled,
.unready-button:active {
	background-color: #be9403;
}

.waiting-player-waiting {
	color: #be9403;
}

.unready-button:hover {
	background-color: #be9403;
}


/* ALL MODES */

.absent {
	background-color: #3F3F46 !important;
}

.copy-button {
	background-color: #898989;
}

